.table-bordered {
  border: 1px solid #dc3545;
}

.table-bordered td, .table-bordered th {
  border : 2px solid #343a40;
}

.bg-lightblue{
  background-color:lightblue;
}

.bg-pink{
  background-color:#EE82EE;
  color:black;
}

.bg-navy{
  background-color:navy;
  color:white;
}

.rem{
  height:1rem;
}

#PreviousJr:hover, #moitMoitJr:hover, #NextJr:hover{
  color:white;
}
